
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.header {
    padding: 30px 0 30px 0;
}

.header .title {
    text-align: center;
    text-transform: capitalize;
}

.content {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .post {
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: #fff;
    margin-bottom: 15px;
}

.content .post .img {
    margin: 0 0 28px 0;
    width: 100%;
    /* width 100% en vez de max-width */
}

.content .post .title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 1em;
}

.content .post .title,
.content .post .paragraph {
    text-transform: uppercase;
    /* La propiedad de flexbox justify-content
    funciona hasta que el parrafo es igual o más
    grande que el contenedor cuando pase esto utilizara text-align center*/
    text-align: center;
}

.content .post .paragraph {
    margin-bottom: 24px;
}

.content .post .paragraph:last-child {
    margin-bottom: 40px;
}

.content .post .paragraph .color-red {
    color: #ea799c;
}


.content .post .button-read-more {
    background-color: #008fd1;
    color: #fff;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;

}

@media screen and (min-width: 468px){

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content .post {
        flex: 0 1 calc(100%/2 - 16px);
    }   

}

@media screen and (min-width: 768px) {
    
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .content .post {
        flex: 0 1 calc(100% / 3 - 16px);
    }  

}